<div class="rulesBook">
  <div class="border border-white rounded rounded-3 py-4 px-5 bg-black text-white">
      <div class="fs-1 text-center ruleTitle">
          <i class="fa-solid fa-book-bookmark me-1"></i>
          Regras
      </div>
      <p class="fs-2 mt-3 ruleSubtitle"><i class="fa-solid fa-arrow-right-long me-1"></i> Objetivo</p>
      <hr>
      <p class="fs-5">  
          De forma resumida, seu objetivo jogando Blackjack (ou 21, como preferir chamar) é conseguir 
          que suas cartas na mão somadas, se igualem ou sejam menores que o valor de 21. Seu oponente tentará
          fazer o mesmo, portanto, caso nenhum de vocês consiga chegar ao valor de 21, ganha aquele com a maior 
          quantia somada.
          <br>
          Caso suas cartas passem de 21, você automaticamente já perde e sua esperança é torcer para que o adversário
          também estoure a quantidade de pontos, assim vocês acabam empatando.
      </p>

      <p class="fs-2 mt-4 ruleSubtitle"><i class="fa-solid fa-arrow-right-long me-1"></i> Rodadas</p>
      <hr>
      <p class="fs-5">  
          Na rodada inicial, ambos jogadores recebem de início 2 cartas. Caso juntas já resultem em 21, o jogador
          conseguiu um Blackjack, que é a melhor e mais alta mão do jogo.
          <br>
          No entanto, nas rodadas seguintes o cada jogador tem as opções de "Acertar"(hit) e receber mais uma carta
          ou "Parar"(Stand) onde o jogador fica com as cartas na mão esperando o oponente para ver o resultado.
      </p>

      <p class="fs-2 mt-4 ruleSubtitle"><i class="fa-solid fa-arrow-right-long me-1"></i> Valores das cartas</p>
      <hr>
      <p class="fs-5">  
          As cartas no BlackJack possuem valores distintos de outros jogos de cartas, veja a tabela abaixo para 
          entender:
          <table class="table text-white mt-1">
              <thead class="text-center">
                <tr>
                  <th scope="col">Carta</th>
                  <th scope="col">Nome/Valor</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr>
                  <th width="50%">
                      <img width="40%" height="40%" src="https://deckofcardsapi.com/static/img/AS.png">
                  </th>
                  <td>
                      <strong>Ás</strong>
                      <br>
                      Possui valor 1 ou 11, qual for melhor para a sua mão!
                  </td>
                </tr>
                <tr>
                  <th width="50%">
                      <img width="40%" height="40%" src="https://deckofcardsapi.com/static/img/KH.png">
                  </th>
                  <td>
                      <strong>Rei/Valete/Rainha/10</strong>
                      <br>
                      Todas possuem o valor 10 nesse jogo!
                  </td>
                </tr>
                <tr>
                  <th width="50%">
                      <img width="40%" height="40%" src="https://deckofcardsapi.com/static/img/2C.png">
                  </th>
                  <td>
                      <strong>De 2 a 10</strong>
                      <br>
                      Possuem o valor indicado na carta (por exemplo: o 2 vale 2 pontos)!
                  </td>
                </tr>
              </tbody>
            </table>
      </p>

      <p class="fs-2 mt-4 ruleSubtitle"><i class="fa-solid fa-arrow-right-long me-1"></i> Sobre esse jogo!</p>
      <hr>
      <p class="fs-5">  
          Nesse simples que tem em sua frente agora, há apenas uma maneira de jogar por enquanto, contra
          o B.O.T. (BlackJack Original Technology), onde você joga contra um robô que seria um dealer num
          cassino real e seu objetivo é derrota-lo! 
          <br>
          EM BREVE NOVAS FEATURES
      </p>
  </div>
</div>