<div class="rulesBook">
    <div class="border border-white rounded rounded-3 py-4 px-4 bg-black text-white">
        <p class="text-center fs-1 ruleTitle">
            <i class="fa-solid fa-medal"></i>
            Classificação
        </p>
        <div class="border border-white">
            <table class="table table-dark table-striped" style="margin-bottom: 0 !important">
                <thead class="text-center">
                <tr>
                    <th></th>
                    <th>Username</th>
                    <th>Matches</th>
                    <th>Wins</th>
                </tr>
                </thead>
                <tbody ng-repeat="user in users | orderBy:oc:op" class="text-center">
                <tr>
                    <th>{{$index + 1}}</th>
                    <td data-toggle="tooltip" data-placement="top" title="{{user.name}}">
                        {{user.name | ellipsis:12}}
                    </td>
                    <td>{{user.matches}}</td>
                    <td>{{user.wins}}</td>
                </tr>
                </tbody>
            </table>
        </div>   
    </div>
</div>
<div ng-show="player" class="loggedAccount border border-dark border-2 rounded rounded-3 py-3 px-4 mb-2 d-flex 
    align-items-center me-2">
    <i class="fa-solid fa-gem fs-2"></i>
    <div class="ms-2 me-4 fs-5 fontArchive">
        Logado como <span class="fw-bold fs-4">{{player | ellipsis:20}}</span>
    </div>
</div>
